* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.invisivel{
    display: none;
}

#pop {   
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid rgb(95, 29, 156);
    width: 400px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;

}
#div_fechar{
    width: 100%;
    position: absolute;    
    left: 180px;
    margin-top: 5px;
    margin-right: 10px;
}
#fechar{
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

#primeiro_p {
    font-size: 1.2rem;
    padding: 15px;
    color: rgb(95, 29, 156);
    font-weight: bold;


}

hr {
    border: none;
    height: 2px;
    width: 90%;
    background-color: rgb(161, 106, 197);

    background: linear-gradient(to right,
            transparent 0%,
            rgb(161, 106, 197) 10%,
            rgb(161, 106, 197) 90%,
            transparent 100%            
            );

}

h1 {
    padding: 15px;
}

#segundo_p {
    margin: 15px;
}

#div_bot {
    background-color: rgb(161, 106, 197);
    display: flex;
    margin-top: 30px;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    border: none;
    width: 80px;
    height: 40px;
    cursor: pointer;
    font-size: larger;
    background-color: rgb(95, 29, 156);
    color: aliceblue;
    border-radius: 10px;
    transition: .3s;
}

button:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

#div_bot div {
    padding: 0px 15px;
}