*{
    margin: 0px;
    padding: 0px;
}

#menu{
    cursor: pointer;
    
    padding: 10px;
}
#menu:hover{
    transform: scale(1.2);
}


#containerMenu{    
    width: 250px;
    height: 100vh;
    background-color: lightblue;
    position: fixed;
    top: 0px;
    left: -250px;       
    transition: .8s;
    

}

#containerLinksMenu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.linkMenu{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    padding: 10px;
    width: 80%;
    text-align: center;
    background-color: rgb(2, 102, 133);
    border-radius: 5px;
    color: white;
}

.linkMenu:hover{
    background-color: rgb(116, 0, 0);
    color: white;
    transition: 0.3s;
}

#container-flecha{
    width: 250px;
    display: flex;
    justify-content: end;
    padding-right: 20px;
}
#fecha-menu{
    cursor: pointer;
    font-size: 2rem;
}
#fecha-menu:hover{
    transform: scale(1.2);
}

.mostrar-menu{
    transform: translateX(250px);
    opacity: 100%;
    
    
}
.esconder-menu{
    transform: translate(-250px,0px);
    opacity: 0%;
}


