*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#container_mov{
    border: 1px solid black;
    width: 100%;
    height: 550px;
    margin-top: 10px;
    position: relative;
    
}


#div_mov {
    width: 150px;
    height: 50px;
    border: 1px solid black;
    background-color: aqua;
    position: absolute;
    top: 252px;
    left: 0px;
}

#container_botoes{
    border: 1px solid black;
    width: 400px;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,50px);
    margin: auto;   
}

#btn_mover_cima{ grid-column: 2; grid-row: 1;}
#btn_mover_direita{ grid-column: 3; grid-row: 2;}
#btn_mover_esquerda{ grid-column: 1; grid-row: 2;}
#btn_mover_baixo{ grid-column: 2; grid-row: 3;}
#btn_parar{grid-column: 2; grid-row: 2;}