*{
    margin: 0px;
    padding: 0px;
}

#menu{
    cursor: pointer;
    transition: 0.2s;
}
#menu:hover{
    transform: scale(1.2);
}


#containerMenu{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;              /* Largura do menu */
    height: 100vh;
    background: #222;
    color: white;
    transform: translateX(-250px);   /* Esconde fora da tela */
    transition: transform .3s ease;
    display: flex;
    align-items: center;
}

#containerLinksMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.linkMenu{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    padding: 10px;
    width: 80%;
    text-align: center;
    background-color: lightgray;
    border-radius: 5px;
}

.linkMenu:hover{
    background-color: gray;
    color: white;
    transition: 0.3s;
}

.mostrar-menu{
    transform: translate(250px,0px);
    transition: 0.5s;
}
.esconder-menu{
    transform: translate(-250px,0px);
    transition: 0.5s;
}

