#display {
    background-color: rgb(9, 59, 71);
    
    height: 60px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 5px solid black;
}

#visor {
    overflow: hidden;
    background-color: rgb(161, 189, 139);
    width: 360px;
    height: 60px;
    color: rgb(0, 0, 0);
    font-size: 2.5em;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: ;
    margin-top: 5px;    
    flex-wrap: nowrap;
    border-radius: 10px;
}

#calculadora {
    background-color: rgb(62, 113, 133);
    width: 420px;
    height: 520px;
    border-radius: 15px;
    
}

#teclado {

}

button {
    width: 70px;
    height: 80px;
    margin: 5px;
    font-size: 25pt;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(174, 231, 231);
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

#primeiraLinha {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
    padding-left: 5px ;
}

#primeiraLinha button {
    width: 90px;
    height: 50px;
    font-size: 1.2em;
    font-weight: bolder;
    
}

#teclas {
    width: 200px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0px;
    padding-left: 10px ;
}

#num9 {
    grid-column: 3/3;
    grid-row: 1/1;
}

#num8 {
    grid-column: 2/2;
    grid-row: 1/1;
}

#num7 {
    grid-column: 1/1;
    grid-row: 1/1;
}


#num6 {
    grid-column: 3/3;
    grid-row: 2/2;
}

#num5 {
    grid-column: 2/2;
    grid-row: 2/2;
}

#num4 {
    grid-column: 1/1;
    grid-row: 2/2;
}


#num3 {
    grid-column: 3/3;
    grid-row: 3/3;
}

#num2 {
    grid-column: 2/2;
    grid-row: 3/3;
}

#num1 {
    grid-column: 1/1;
    grid-row: 3/3;
}

#num0 {
    width: 150px;
    grid-column: 1/3;
    grid-row: 4/4;
}

#virgula {
    grid-column: 3/3;
    grid-row: 4/4;
}

#igual {
    width: 150px;
    grid-column: 4/6;
    grid-row: 4/4;
}
.notNumber{
    background-color: rgba(209, 149, 221, 0.884);
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 0px 5px rgb(255, 0, 242);
}

#operador {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.operador{
    background-color: rgba(209, 149, 221, 0.884);
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 0px 5px rgb(255, 0, 242);
}
.power{
    border-radius: 10px;
}


#delet{
    background-color: rgba(245, 183, 113, 0.884);
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 0px 5px rgb(255, 0, 0);
}
#limpar{
    background-color: rgb(255, 101, 101);
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 0px 5px rgb(255, 115, 0);
}


.ligado{
    background-color: rgb(0, 155, 26);
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px rgb(106, 255, 100);
    color: rgb(255, 255, 255);
}

.desligado{
    background-color: rgb(155, 0, 0);
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px rgb(255, 100, 100);
    color: rgb(255, 255, 255);
}

.natural{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    color: black;
}