#display {
    background-color: black;

    height: 40px;
    padding: 15px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#visor {
    background-color: rgb(50, 112, 0);
    width: 350px;
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px;
}

#calculadora {
    background-color: gray;
    width: 400px;
    height: 500px;
    border-radius: 15px;
}

#teclado {}

button {
    width: 70px;
    height: 80px;
    margin: 5px;
}

#primeiraLinha {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;

}

#primeiraLinha button {
    width: 120px;
    height: 50px;
}

#teclas {
    width: 200px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    gap: 0px;
}

#num9 {
    grid-column: 3/3;
    grid-row: 1/1;
}

#num8 {
    grid-column: 2/2;
    grid-row: 1/1;
}

#num7 {
    grid-column: 1/1;
    grid-row: 1/1;
}


#num6 {
    grid-column: 3/3;
    grid-row: 2/2;
}

#num5 {
    grid-column: 2/2;
    grid-row: 2/2;
}

#num4 {
    grid-column: 1/1;
    grid-row: 2/2;
}


#num3 {
    grid-column: 3/3;
    grid-row: 3/3;
}

#num2 {
    grid-column: 2/2;
    grid-row: 3/3;
}

#num1 {
    grid-column: 1/1;
    grid-row: 3/3;
}

#num0 {
    width: 150px;
    grid-column: 1/3;
    grid-row: 4/4;
}

#virgula {
    grid-column: 3/3;
    grid-row: 4/4;
}

#igual {
    width: 150px;
    grid-column: 4/6;
    grid-row: 4/4;
}

#operador {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.operador{
    background-color: rgb(233, 155, 66);
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 0px 5px red;
}
.power{
    border-radius: 10px;
}
#on{
    
}