img{
    width: 250px;
    height: 300px;
    display: block;
    margin-bottom: 50px;    
    margin-left: 50px;
}
button{
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;
    margin: 10px;
    

}

#btn1{
    box-shadow: 0px 0px 10px rgb(0, 60, 255);
}
#btn1:hover{
    color: white;
    font-weight: bold;
    background-color: rgb(62, 62, 255);
    box-shadow: 0px 0px 15px rgb(0, 17, 71);
}
#btn2{
    box-shadow: 0px 0px 10px rgb(255, 51, 0);
}
#btn2:hover{
    color: white;
    font-weight: bold;
    background-color: rgb(255, 81, 0);
    box-shadow: 0px 0px 15px rgb(0, 17, 71);
    
}

