button{
    width: 200px;
    height: 40px;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    border: 1px solid black;
    font-weight: bold;
}


#btn_claro{

}
.btn_claro_ativo{
    box-shadow: 0px 0px 10px black;
    border: 1px solid black;
}
.btn_claro_ativo:hover{
    background-color: rgb(224, 224, 224);
}
.btn_escuro_ativo:hover{
    background-color: rgb(48, 48, 48);
}

.btn_escuro_ativo{
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    color: white;
}

.claro{
    color: black;
    background-color: white;
}

.escuro{
    color: white;
    background-color: black;
}